<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        .container-fluid.rounded {
        position: absolute;
        width: calc(100vw - 80px);
        height: calc(100vh - 70px);
        right: 0;
        bottom: 0;
      }
      .status {
            border-radius: 0.2rem;
            background-color: red;
            padding: 0.2rem 1rem;
            text-align: center;
            margin: auto 0;
        }

        .status.paid{
            background-color: #c8e6c9;
            color: #388e3c;
        }

        .status.unpaid{
            background-color: #ffcdd2;
            color: #c62828;
        }
    </style>
    <title>ADMIN DASH</title>
    
</head>
<body>
    <div class="container-fluid rounded">
        <section class="row justify-content-center">
            <div class="col-12 col-sm-11 col-md-11">
                <div class="shadow p-5 m-3 bg-body rounded">
                    {% if roleId == "1" %}
                    <h2 class="text-start mb-3">Complaints List</h2>
                    {% elif roleId == "2" %}
                    <h2 class="text-start mb-3">Your Complaints</h2>
                    {% endif %}
                    <div id="bills-list" class="list-group">
                        {% for i in range(length) %}
                            <div class="row my-2 mx-1 p-2" style="border: 1px solid #e5e5e5;font-size: 14px;">
                                <p class="font-monospace col-3">Complain ID : {{complainIDs[i]}}</p>                                
                                <p class="font-monospace col-3">Connection ID : {{connectionIDs[i]}}</p>                             
                                <p class="font-monospace col-5"></p>
                                {% if complainStatus[i]==1%}
                                <p class="font-monospace col-1 d-flex justify-content-center status unpaid " style="font-size: 12px;font-weight:bold;">Unresolved</p>    
                                {% else %}
                                <p class="font-monospace col-1 d-flex justify-content-center status paid " style="font-size: 12px;font-weight:bold;">Resolved</p>    
                                {% endif %}                                                        
                                <div class="col-12">
                                    <div class="row">
                                        <p class="font-monospace col-3">Description : </p>
                                        <p class="font-monospace col-9"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore quo repudiandae cumque perspiciatis officia, at quasi consequuntur. Quasi alias fuga voluptas! Ut porro deserunt praesentium adipisci possimus hic, natus reiciendis.</p>
                                    </div>
                                </div>
                                <p class="font-monospace col-4">Category : {% if complainCategory[i] == 1 %}Technical{% else %}Bill Related{% endif %}</p>  
                                <div class="col-4"></div> 
                                <div class="d-grid gap-2 mx-auto col-2 d-block">
                                    <form action="/complainList" method="POST">
                                        <button style="font-size: 12px;font-weight:bold;width: 100%;" type="submit" class="btn btn-primary" id="discard" name="{{complainIDs[i]}}" {% if complainStatus[i]!=1 %}disabled{% endif %}>Discard</button>
                                    </form>
                                </div>  
                                {% if complainCategory[i] == 1 %}
                                <div class="d-grid gap-2 mx-auto col-2 d-block">
                                    <form action="/complainList" method="POST">
                                        <button style="font-size: 12px;font-weight:bold;width: 100%;" type="submit" class="btn btn-primary" id="resolve" name="{{complainIDs[i]}}" {% if complainStatus[i]!=1 %}disabled{% endif %}>Resolve</button>
                                    </form>
                                </div> 
                                {% else %}
                                <div class="d-grid gap-2 mx-auto col-2 d-block">
                                    <a href="/complainDetail?id={{complainIDs[i]}}">
                                    <button style="font-size: 12px;font-weight:bold;width: 100%;" type="submit" class="btn btn-primary" id="resolve" name="{{complainIDs[i]}}" {% if complainStatus[i]!=1 %}disabled{% endif %}>Details</button>
                                    </a>
                                </div> 
                                {% endif %}                                                                                         
                            </div>                             
                        {% endfor %}
                    </div>
                </div>            
            </div>
        </section>
    </div>
    {% if roleId == "1" %}
    {% include "navbar.html" %}
    {% elif roleId == "2" %}
    {% include "consumerNavbar.html" %}
    {% endif %}
    



    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html