<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <style>
            .formControl{
                position: relative;
            }
            .formControl i{
                position: absolute;
                bottom: 0.7rem;
                right: 1rem;
                visibility: hidden;
            }
            .formControl p{
                position: absolute;
                bottom: -1.3rem;
                left: 0.5rem;
                visibility: hidden;
                font-size: 0.8rem;
            }
            .formControl.success input{
                border-color: #2ecc71;
            }
            .formControl.error input{
                border-color: #e74c3c;
            }
            .formControl.success select{
                border-color: #2ecc71;
                background: none;
            }
            .formControl.error select{
                border-color: #e74c3c;
                background: none;
            }
            .formControl.success i.bi.bi-check-circle{
                color: #2ecc71;
                visibility: visible;
            }
            .formControl.error i.bi.bi-exclamation-circle{
                color: #e74c3c;
                visibility: visible;
            }
            .formControl.error p{
                color: #e74c3c;
                visibility: visible;
            }
            #container{
                position: absolute;
                width: calc(100vw - 80px);
                height: calc(100vh - 70px);
                right: 0;
                bottom: 0;
            }
        </style>
    <title>Admin Dash</title>
</head>

<body>

    <div class="container-fluid rounded" id="container">
        <section class="row justify-content-center">
            <section class="col-12 col-sm-11 col-md-11" id="loaderfn">
                <form method="POST" class="shadow p-5 m-3 bg-body rounded " id="connFormInp">
                    <h2 class="text-start mb-3">Connection Details</h2>
                    <div class="btn-group mb-3" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="connFuncType" id="connAdd" value="connAdd" autocomplete="off"
                            {% if val == "add"%} checked {%endif%}>
                        <label class="btn btn-outline-primary" for="connAdd">Add Connection</label>

                        <input type="radio" class="btn-check" name="connFuncType" id="connDel" autocomplete="off" value="connDel" {% if val == "del"%} checked {%endif%}>
                        <label class="btn btn-outline-primary" for="connDel">Delete Connection</label>

                        <input type="radio" class="btn-check" name="connFuncType" id="connUpd" value="connUpd" autocomplete="off" {% if val == "upd"%} checked {%endif%}>
                        <label class="btn btn-outline-primary" for="connUpd">Update Connection</label>
                    </div>              
                    <input type="text" class="d-none" id="taskC" name="taskC" value= {{val}}> 
                    <input type="text" class="d-none" id="stateC" name="stateC" value= "0"> 
                    {% with messages = get_flashed_messages() %}
										{% if messages %}
										{% for message in messages %}
										<p class="font-monospace d-none" id="alertMsgC" >{{message}}</p>
										{% endfor %}
										{% endif %}
										{% endwith %}
										{% include "includes/connectionInputs/connectionAdd.html" %}
										{% include "includes/connectionInputs/connectionFilter.html" %}
            </section>
        </section>
    </div>
    
		{% include "navbar.html" %}


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
    <script type="text/javascript">
        document.getElementById("filBtnC").addEventListener("click", (e)=>{
            document.getElementById("stateC").value = "0"
            alertMsg = document.getElementById("alertMsgC").innerText
            console.log(alertMsg)
            alert(alertMsg)
        })
        document.getElementById("addBtnC").addEventListener("click", (e)=>{
            document.getElementById("stateC").value = "1"
            alertMsg = document.getElementById("alertMsgC").innerText
            console.log(alertMsg)
            alert(alertMsg)
        })
        document.getElementById("connAdd").addEventListener("click", (e)=>{    
            resetVals()          
            document.getElementById("addElC").style.display = "flex"
            document.getElementById("filterElC").style.display = "none"
            if(document.getElementById("taskC").value != "add"){
                document.getElementById("inputConNo").value = ""
                document.getElementById("inputConnType").value = ""
                document.getElementById("inputMeterNo").value = ""
                document.getElementById("inputConnAddress").value = ""
                document.getElementById("inputConnTaluka").value = ""
                document.getElementById("inputConnDistrict").value = ""
                document.getElementById("inputConnPin").value = ""
                document.getElementById("inputInstallationDate").value = ""
                document.getElementById("inputConnStatus").value = ""
            }           
            document.getElementById("taskC").value = "add"
            document.getElementById("fieldSetC").disabled = false
        })
        document.getElementById("connUpd").addEventListener("click", (e)=>{
            resetVals()  
            document.getElementById("addElC").style.display = "none"            
            document.getElementById("filterElC").style.display = "flex"
            document.getElementById("taskC").value = "upd"
        })
        document.getElementById("connDel").addEventListener("click", (e)=>{
            resetVals()  
            document.getElementById("addElC").style.display = "none"         
            document.getElementById("filterElC").style.display = "flex"
            document.getElementById("taskC").value = "del"
        })

        var connNo = document.getElementById("inputConNo")
        var connType = document.getElementById("inputConnType")
        var meterNo = document.getElementById("inputMeterNo")
        var cAddress = document.getElementById("inputConnAddress")
        var cDistrict = document.getElementById("inputConnDistrict")
        var cTaluka = document.getElementById("inputConnTaluka")
        var cPin = document.getElementById("inputConnPin")
        var cInstDt = document.getElementById("inputInstallationDate")
        var cStatus = document.getElementById("inputConnStatus")
        var connId = document.getElementById("inputConnFilID")

        function setError(elt, msg){
            const fc = elt.parentElement
            const pTag = fc.querySelector('p')
            if(pTag){
                pTag.innerText = msg
            }
            fc.className = "formControl error"
        }

        function setSuccess(elt){
            const fc = elt.parentElement
            fc.className = "formControl success"
        }

        function resetCls(elt){
            const fc = elt.parentElement
            fc.className = "formControl"
        }

        function isConNo(strVal){
            if((strVal.substring(0,2).toLowerCase().match(/^(po|ti|ba|bi|ca|sa|mo|pe|qu|dh)$/))&&(!isNaN(strVal.substring(2,)))){
                console.log("its true")
                return true
            }
            console.log("its false")

            return false
        }

        document.getElementById("connFormInp").addEventListener("submit", (e)=>{
            let connNoErr = true
            let connTypeErr = true
            let meterNoErr = true
            let cAddressErr = true
            let cTalukaErr = true

            let cPinErr = true
            let cInstDtErr = true
            let cDistrictErr = true
            let cStatusErr = true
            let connIdErr = true

            const connNoVal = connNo.value.trim()
            const connTypeVal = connType.value.trim()
            const meterNoVal = meterNo.value.trim()
            const cAddressVal = cAddress.value.trim()
            const cTalukaVal = cTaluka.value.trim()
            const cDistrictVal = cDistrict.value.trim()
            const cPinVal = cPin.value.trim()
            const cInstDtVal = cInstDt.value.trim()
            const cStatusVal = cStatus.value.trim()
            const connIdVal = connId.value.trim()

            if(connNoVal===""){
                setError(connNo, "Consumer Number can't be blank")
                connNoErr = true
            }else if(connNoVal.length != 12){
                setError(connNo, "Consumer Number should have 12 characters")
                connNoErr=true
            }else if(!isConNo(connNoVal)){
                setError(connNo, "Enter valid Consumer Number")
                connNoErr=true
            }
            else{
                setSuccess(connNo)
                connNoErr = false
            }

            if(connTypeVal==="none"){
                setError(connType, "Connection Type can't be blank")
                connTypeErr=true
            }       
            else{
                setSuccess(connType)
                connTypeErr=false
            }     
            
            if(meterNoVal===""){
                setError(meterNo, "Meter Number can't be blank")
                meterNoErr = true
            }else if(isNaN(meterNoVal)){
                setError(meterNo, "Meter Number is Numeric field")
                meterNoErr=true
            }else if(isNaN(parseFloat(meterNoVal))){
                setError(meterNo, "Please Remove any blank spaces")
                meterNoErr=true
            }else if(meterNoVal.includes(".")){
                setError(meterNo, "Meter Number can't have period")
                meterNoErr=true
            }else if(meterNoVal.length !== 10){
                setError(meterNo, "Meter Number should have 10 digits")
                meterNoErr=true
            }    
            else{
                setSuccess(meterNo)
                meterNoErr = false
            }        

            if(cAddressVal===""){
                setError(cAddress, "Connection address can't be blank")
                cAddressErr=true
            }  
            else{
                setSuccess(cAddress)
                cAddressErr=false
            }          

            if(cTalukaVal==="none"){
                setError(cTaluka, "Connection taluka can't be blank")
                cTalukaErr=true
            }    
            else{
                setSuccess(cTaluka)
                cTalukaErr=false
            }        

            if(cPinVal===""){
                setError(cPin, "Connection pin can't be blank")
                cPinErr=true
            }else if(isNaN(cPinVal)){
                setError(cPin, "Pin is Numeric field")
                cPinErr=true
            }else if(isNaN(parseFloat(cPinVal))){
                setError(cPin, "Please Remove any blank spaces")
                cPinErr=true
            }else if(cPinVal.includes(".")){
                setError(cPin, "Pin can't have period")
                cPinErr=true
            }else if(cPinVal.length !== 6){
                setError(cPin, "Pin should have 6 digits")
                cPinErr=true
            }
            else{
                setSuccess(cPin)
                cPinErr=false
            }

            if(cInstDtVal===""){
                setError(cInstDt, "Installation Date can't be blank")
                cInstDtErr=true
            }   
            else{
                setSuccess(cInstDt)
                cInstDtErr=false
            }  

            if(cDistrictVal==="none"){
                setError(cDistrict, "Connection district can't be blank")
                cDistrictErr=true
            }
            else{
                setSuccess(cDistrict)
                cDistrictErr=false
            }

            if(cStatusVal==="none"){
                setError(cStatus, "Connection Status can't be blank")
                cStatusErr=true
            }
            else{
                setSuccess(cStatus)
                cStatusErr=false
            }

            if(connIdVal===""){
                setError(connId, "Connection Number can't be blank")
                connIdErr = true
            }else if(isNaN(connIdVal)){
                setError(connId, "Connection ID is Numeric field")
                connIdErr=true
            }else if(isNaN(parseFloat(connIdVal))){
                setError(connId, "Please Remove any blank spaces")
                connIdErr=true
            }else if(connIdVal.includes(".")){
                setError(connId, "Connection ID can't have period")
                connIdErr=true
            }else if(connIdVal.length !== 12){
                setError(connId, "Connection ID should have 12 digits")
                connIdErr=true
            } 
            else{
                setSuccess(connId)                
                connIdErr=false
            }
            let allErr = connNoErr||connTypeErr||meterNoErr||cAddressErr||cTalukaErr||cPinErr||cInstDtErr||cDistrictErr||cStatusErr
            if(!connIdErr){
                alert("submitted")
            }else if(!allErr){
                alert("submitted")
            }else{                
                e.preventDefault()
            }
                
        })

        function resetVals(){
            connId.value=""
            resetCls(connNo)
            resetCls(connType)
            resetCls(cAddress)
            resetCls(meterNo)
            resetCls(cDistrict)
            resetCls(cTaluka)
            resetCls(cPin)
            resetCls(cInstDt)
            resetCls(cStatus)
            resetCls(connId)
        }
    </script>
</body>

</html>