<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Admin Dash</title>
</head>

<body>

    <div class="container-fluid rounded" id="container">
        <section class="row justify-content-center">
            <section class="col-12 col-sm-11 col-md-11">
                <form method="POST" class="shadow p-5 mb-5 bg-body rounded mt-5">
                    <h2 class="text-start mb-3">Consumer Details</h2>
                    <div class="btn-group mb-3" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="custFuncType" id="custAdd" value="custAdd" autocomplete="off"
                            checked>
                        <label class="btn btn-outline-primary" for="custAdd">Add Consumer</label>

                        <input type="radio" class="btn-check" name="custFuncType" id="custDel" autocomplete="off" value="custDel">
                        <label class="btn btn-outline-primary" for="custDel">Delete Consumer</label>

                        <input type="radio" class="btn-check" name="custFuncType" id="custUpd" value="custUpd" autocomplete="off">
                        <label class="btn btn-outline-primary" for="custUpd">Update Consumer</label>
                    </div>              
                    <input type="text" class="d-none" id="task" name="task" value= {{val}}>   
                    {% include "includes/consumerInputs/consumerAdd.html" %}
                    {% include "includes/consumerInputs/consumerFilter.html" %}
                </form>
            </section>
        </section>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
    <script type="text/javascript">
        document.getElementById("custAdd").addEventListener("click", (e)=>{            
            document.getElementById("addEl").style.display = "flex"
            document.getElementById("filterEl").style.display = "none"
            document.getElementById("task").value = "add"
        })
        document.getElementById("custUpd").addEventListener("click", (e)=>{
            document.getElementById("addEl").style.display = "none"            
            document.getElementById("filterEl").style.display = "flex"
            document.getElementById("task").value = "upd"
        })
        document.getElementById("custDel").addEventListener("click", (e)=>{
            document.getElementById("addEl").style.display = "none"         
            document.getElementById("filterEl").style.display = "flex"
            document.getElementById("task").value = "del"
        })
    </script>
</body>

</html>