<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.5/dist/sweetalert2.min.css">
    <style>
        .formControl{
            position: relative;
        }
        .formControl i{
            position: absolute;
            bottom: 0.7rem;
            right: 1rem;
            visibility: hidden;
        }
        .formControl p{
            position: absolute;
            bottom: -1.3rem;
            left: 0.5rem;
            visibility: hidden;
            font-size: 0.8rem;
        }
        .formControl.success input{
            border-color: #2ecc71;
        }
        .formControl.error input{
            border-color: #e74c3c;
        }
        .formControl.success select{
            border-color: #2ecc71;
            background: none;
        }
        .formControl.error select{
            border-color: #e74c3c;
            background: none;
        }
        .formControl.success i.bi.bi-check-circle{
            color: #2ecc71;
            visibility: visible;
        }
        .formControl.error i.bi.bi-exclamation-circle{
            color: #e74c3c;
            visibility: visible;
        }
        .formControl.error p{
            color: #e74c3c;
            visibility: visible;
        }
        #container{
                position: absolute;
                width: calc(100vw - 80px);
                height: calc(100vh - 70px);
                right: 0;
                bottom: 0;
            }
    </style>
    <title>Admin Dash</title>
</head>

<body>

    <div class="container-fluid rounded" id="container">
        <section class="row justify-content-center">
            <section class="col-12 col-sm-11 col-md-11" id="loaderfn">
                <form method="POST" class="shadow p-5 m-3 bg-body rounded" id="conFormInp">
                    <h2 class="text-start mb-3">Consumer Details</h2>
                    <div class="btn-group mb-3" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="custFuncType" id="custAdd" value="custAdd" autocomplete="off"
                            {% if val == "add"%} checked {%endif%}>
                        <label class="btn btn-outline-primary" for="custAdd">Add Consumer</label>

                        <input type="radio" class="btn-check" name="custFuncType" id="custDel" autocomplete="off" value="custDel" {% if val == "del"%} checked {%endif%}>
                        <label class="btn btn-outline-primary" for="custDel">Delete Consumer</label>

                        <input type="radio" class="btn-check" name="custFuncType" id="custUpd" value="custUpd" autocomplete="off" {% if val == "upd"%} checked {%endif%}>
                        <label class="btn btn-outline-primary" for="custUpd">Update Consumer</label>
                    </div>              
                    <input type="text" class="d-none" id="task" name="task" value= {{val}}> 
                    <input type="text" class="d-none" id="state" name="state" value= "0"> 
                    {% if msg %}
                    <p class="d-none" id="alertMsg">{{msg}}</p>
                    {% endif %}
                    
                    {% include "includes/consumerInputs/consumerAdd.html" %}
                    {% include "includes/consumerInputs/consumerFilter.html" %}
            </section>
            
        </section>
    </div>
    {% include "navbar.html" %}



    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
    <script type="text/javascript">

        setTwoWords()
        if(document.getElementById("alertMsg")){
            var alertMsg = document.getElementById("alertMsg").innerText
            Swal.fire('Please Check!!!', alertMsg, 'error')
        }

        document.getElementById("filBtn").addEventListener("click", (e)=>{
            document.getElementById("state").value = "0"
        })
        document.getElementById("addBtn").addEventListener("click", (e)=>{
            document.getElementById("state").value = "1"
        })
        document.getElementById("custAdd").addEventListener("click", (e)=>{  
            resetVals()          
            document.getElementById("addEl").style.display = "flex"
            document.getElementById("filterEl").style.display = "none"
            
            if(document.getElementById("task").value && document.getElementById("task").value != "add"){
                document.getElementById("inputConFName").value = ""
                document.getElementById("inputConLName").value = ""
                document.getElementById("inputConAddress").value = ""
                document.getElementById("inputConTaluka").value = ""
                document.getElementById("inputConDistrict").value = ""
                document.getElementById("inputConPin").value = ""
                document.getElementById("inputConContact").value = ""
                document.getElementById("inputConEmail").value = ""
            }           
            document.getElementById("task").value = "add"
            if(document.getElementById("fieldSet")){
                document.getElementById("fieldSet").disabled = false
            }
        })
        document.getElementById("custUpd").addEventListener("click", (e)=>{
            document.getElementById("addEl").style.display = "none"            
            document.getElementById("filterEl").style.display = "flex"
            document.getElementById("task").value = "upd"
            resetVals()          
        })
        document.getElementById("custDel").addEventListener("click", (e)=>{
            document.getElementById("addEl").style.display = "none"         
            document.getElementById("filterEl").style.display = "flex"
            document.getElementById("task").value = "del"
            resetVals()          
        })
        var fname = document.getElementById("inputConFName")
        var lname = document.getElementById("inputConLName")
        var address = document.getElementById("inputConAddress")
        var district = document.getElementById("inputConDistrict")
        var taluka = document.getElementById("inputConTaluka")
        var pin = document.getElementById("inputConPin")
        var contact = document.getElementById("inputConContact")
        var email = document.getElementById("inputConEmail")
        var cid = document.getElementById("inputConFilID")

        function setError(elt, msg){
            const fc = elt.parentElement
            const pTag = fc.querySelector('p')
            if(pTag){
                pTag.innerText = msg
            }
            fc.className = "formControl error"
        }

        function setSuccess(elt){
            const fc = elt.parentElement
            fc.className = "formControl success"
        }

        function resetCls(elt){
            const fc = elt.parentElement
            fc.className = "formControl"
        }

        function validateEmail(email) {
            const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(String(email).toLowerCase());
        }

        function isConNo(strVal){
            if((strVal.substring(0,2).toLowerCase().match(/^(po|ti|ba|bi|ca|sa|mo|pe|qu|dh)$/))&&(!isNaN(strVal.substring(2,)))){
                console.log("its true")
                return true
            }
            console.log("its false")

            return false
        }

        document.getElementById("conFormInp").addEventListener("submit", (e)=>{
            let fnameErr = true
            let lnameErr = true
            let contactErr = true
            let addressErr = true
            let talukaErr = true

            let pinErr = true
            let emailErr = true
            let districtErr = true
            let cidErr = true

            const fnameVal = fname.value
            const lnameVal = lname.value
            const addressVal = address.value
            const districtVal = district.value.trim()
            const talukaVal = taluka.value.trim()
            const pinVal = pin.value.trim()
            const contactVal = contact.value.trim()
            const emailVal = email.value.trim()
            const cidVal = cid.value.trim()

            if(fnameVal===""){
                setError(fname, "Consumer First Name can't be blank")
                fnameErr=true
            }
            else{
                setSuccess(fname)           
                fnameErr=false
            }

            if(lnameVal===""){
                setError(lname, "Consumer Last Name can't be blank")
                lnameErr=true
            }
            else{
                setSuccess(lname)
                lnameErr=false
            }
            
            if(addressVal===""){
                setError(address, "Consumer Address can't be blank")
                addressErr=true
            }
            else{
                setSuccess(address)
                addressErr=false
            }
            
            if(districtVal==="none"){
                setError(district, "Consumer District can't be blank")
                districtErr=true
            }
            else{
                setSuccess(district)
                districtErr=false
            }
            
            if(talukaVal==="none"){
                setError(taluka, "Consumer Taluka can't be blank")
                talukaErr=true
            }
            else{
                setSuccess(taluka)
                talukaErr=false
            }
            
            if(contactVal===""){
                setError(contact, "Consumer Contact can't be blank")
                contactErr=true
            }else if(isNaN(contactVal)){
                setError(contact, "Contact is Numeric field")
                contactErr=true
            }else if(isNaN(parseFloat(contactVal))){
                setError(contact, "Please Remove any blank spaces")
                contactErr=true
            }else if(contactVal.includes(".")){
                setError(contact, "Contact can't have period")
                contactErr=true
            }else if(contactVal.length !== 10){
                setError(contact, "Contact should have 10 digits")
                contactErr=true
            }
            else{
                setSuccess(contact)
                contactErr=false
            }
            
            if(emailVal===""){
                setError(email, "Consumer Email can't be blank")
                emailErr=true
            }else if(!validateEmail(emailVal)){
                setError(email, "Enter a valid email")
                emailErr=true
            }
            else{
                setSuccess(email)
                emailErr=false
            }
            
            if(pinVal===""){
                setError(pin, "Consumer Pin can't be blank")
                pinErr=true
            }else if(isNaN(pinVal)){
                setError(pin, "Pin is Numeric field")
                pinErr=true
            }else if(isNaN(parseFloat(pinVal))){
                setError(pin, "Please Remove any blank spaces")
                pinErr=true
            }else if(pinVal.includes(".")){
                setError(pin, "Pin can't have period")
                pinErr=true
            }else if(pinVal.length !== 6){
                setError(pin, "Pin should have 6 digits")
                pinErr=true
            }
            else{
                setSuccess(pin)
                pinErr=false
            }

            if(cidVal==""){
                setError(cid, "Consumer Number can't be blank")
                cidErr=true
            }else if(cidVal.length != 12){
                setError(cid, "Consumer Number should have 12 characters")
                cidErr=true
            }else if(!isConNo(cidVal)){
                setError(cid, "Enter valid Consumer Number")
                cidErr=true
            }else{
                setSuccess(cid)
                cidErr=false
            }
            let allErr = fnameErr||lnameErr||contactErr||addressErr||talukaErr||pinErr||emailErr||districtErr
            
            if(!cidErr){
            }else if(!allErr){
            }else{      
                e.preventDefault()
            }
        })

        function setTwoWords(){
            if(document.getElementById("task")&&(document.getElementById("task").value == "del" || document.getElementById("task").value == "upd")){
                document.getElementById("inputConFName").value = document.getElementById("inputConFNameVal").innerText
                document.getElementById("inputConLName").value = document.getElementById("inputConLNameVal").innerText
                document.getElementById("inputConAddress").value = document.getElementById("inputConAddressVal").innerText
            }
        }

        function resetVals(){
            cid.value=""
            resetCls(fname)
            resetCls(lname)
            resetCls(address)
            resetCls(contact)
            resetCls(district)
            resetCls(taluka)
            resetCls(pin)
            resetCls(email)
            resetCls(cid)
        }
        
        
    </script>
</body>

</html>