<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/css/dash.css">
    <style>
      #container {
        position: absolute;
        width: calc(100vw - 80px);
        height: calc(100vh - 70px);
        right: 0;
        bottom: 0;
      }
    </style>
    <title>Dashboard</title>
  </head>
  <body onload="paginationFunc()">
    <div class="container-fluid rounded" id="container">
      <section class="row justify-content-center">
        <section class="col-12 col-sm-11 col-md-11 p-0 mb-5" id="loaderfn">
          <div
            class="row shadow p-3 mt-3 mx-auto col-md-11 bg-body rounded"
          >
            <a class="d-none" id="gotoLink"></a>
            <div
              id="consumerInput"
              class="card mb-4 mx-auto mt-3 p-0 col-5"
              style="max-width: 540px"
            >
              <div class="row g-0">
                <div class="col-md-4">
                  <img
                    src="../static/icons/dashBulb.jpg"
                    class="img-fluid rounded-start"
                    alt="bulb"
                  />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">CONSUMER</h5>
                    <p class="card-text">
                      You can add, update or remove a customer from here.
                    </p>
                    <p class="card-text mt-3">
                      <!-- <small class="text-muted"
                        >Total customers registerd :
                      </small> -->
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div
              id="connectionInput"
              class="card mb-4 mx-auto mt-3 p-0 col-5"
              style="max-width: 540px"
            >
              <div class="row g-0">
                <div class="col-md-4">
                  <img
                    src="../static/icons/dashHouse.jpg"
                    class="img-fluid rounded-start"
                    alt="house"
                    style="height: fit-content"
                  />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">CONNECTION</h5>
                    <p class="card-text">
                      You can add, update or remove a connection from here.
                    </p>
                    <p class="card-text mt-3">
                      <!-- <small class="text-muted"
                        >Total connections registerd :
                      </small> -->
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-4 mx-auto p-0 col-5" id="billInput" style="max-width: 540px">
              <div class="row g-0">
                <div class="col-md-4">
                  <img
                    src="../static/icons/dashBills.jpg"
                    class="img-fluid rounded-start"
                    alt="bulb"
                  />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">BILLS</h5>
                    <p class="card-text">
                      View and Generate bills for all existing connection.
                    </p>
                    <p class="card-text mt-3">
                      <!-- <small class="text-muted">Total pending bills : </small> -->
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card mb-4 mx-auto p-0 col-5" id="complaintInput" style="max-width: 540px">
              <div class="row g-0">
                <div class="col-md-4">
                  <img
                    src="../static/icons/dashComplaints.jpg"
                    class="img-fluid rounded-start"
                    alt="house"
                    style="height: fit-content"
                  />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">COMPLAINTS</h5>
                    <p class="card-text">
                      Resolve complaints raised by consummers
                    </p>
                    <p class="card-text mt-3">
                      <!-- <small class="text-muted"
                        >Total raised complaints :
                      </small> -->
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="table-ctn" style="font-size: 14px;">
            <table>
                <thead>
                    <tr>
                        <th>Consumer No</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Contact</th>
                        <th>No of Connections</th>
                    </tr>
                </thead>
                <tbody>
                    {% for consumer in consumers %}
                    <tr>
                        <td><a id="table-link" href="#">{{consumer.cno}}</a></td>
                        <td>{{consumer.fname}} {{consumer.lname}}</td>
                        <td>{{consumer.address}}</td>
                        <td>{{consumer.contact}}</td>
                        <td>{{num[consumers.index(consumer)]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            <input type="text" id="pageNo" class="d-none" {% if pageNo %}value="{{pageNo}}"{% else %}value="1"{% endif %}>
            <input type="text" id="totalPages" class="d-none" {% if n %} value="{{n}}"{% else %} value="1"{% endif %}>
            <nav class="mt-3 mx-auto mb-0" aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous" id="prevLinkPage">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#" id="firstLinkPage">1</a></li>
                  <li class="page-item"><a class="page-link" href="#" id="secondLinkPage">2</a></li>
                  <li class="page-item"><a class="page-link" href="#" id="thirdLinkPage">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next" id="nextLinkPage">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>              
              </nav>
        </div>
          </div>
        </section>
      </section>
    </div>
    {% include "navbar.html" %}
    <script>
      document.getElementById("consumerInput").addEventListener("click", e=>{
        var link = document.getElementById("gotoLink")
        link.href="/adminCust"
        link.click()
      })
      document.getElementById("connectionInput").addEventListener("click", e=>{
        var link = document.getElementById("gotoLink")
        link.href="/adminConn"
        link.click()
      })
      document.getElementById("billInput").addEventListener("click", e=>{
        var link = document.getElementById("gotoLink")
        link.href="/billsList"
        link.click()
      })
      document.getElementById("complaintInput").addEventListener("click", e=>{
        var link = document.getElementById("gotoLink")
        link.href="/complainList"
        link.click()
      })
      let prevLP = document.getElementById("prevLinkPage") 
      let nextLP = document.getElementById("nextLinkPage")
      let firstLP = document.getElementById("firstLinkPage")
      let secondLP = document.getElementById("secondLinkPage")
      let thirdLP = document.getElementById("thirdLinkPage")
      let pageNo = document.getElementById("pageNo").value.trim()
      let totalPages = document.getElementById("totalPages").value.trim()
      function pageActive(elt){
        elt.parentElement.className="page-item active"
      }
      function pageDisabled(elt){
        elt.parentElement.className="page-item disabled"
      }
      function overallFunc(){
        prevLP.parentElement.className="page-item"
        nextLP.parentElement.className="page-item"
        firstLP.parentElement.className="page-item"
        secondLP.parentElement.className="page-item"
        thirdLP.parentElement.className="page-item"
        prevLP.parentElement.className="page-item"
        nextLP.parentElement.className="page-item"
        firstLP.parentElement.className="page-item"
        secondLP.parentElement.className="page-item"
        thirdLP.parentElement.className="page-item"
      }      
      function pageLink(elt, p){
        elt.href=`/dashboard?pageNo=${p}`
      }
      function pageText(elt, num){
        elt.innerText=num
      }
      function paginationFunc(){
        if(totalPages=="0"||totalPages=="1"){
          overallFunc()
          pageActive(firstLP)
          pageDisabled(prevLP)
          pageDisabled(nextLP)
          pageDisabled(secondLP)
          pageDisabled(thirdLP)         
          pageText(firstLP, "1")
          pageText(secondLP, "2")
          pageText(thirdLP, "3")
          firstLP.href="#"
          console.log(pageNo)
          console.log(totalPages)
        }else if(totalPages=="2"){          
          pageText(firstLP, "1")
          pageText(secondLP, "2")
          pageText(thirdLP, "3")
          if(pageNo=="2"){
            overallFunc()
            pageDisabled(nextLP)
            pageActive(secondLP)
            pageDisabled(thirdLP)
            pageLink(firstLP, "1")
            pageLink(prevLP, "1")
            secondLP.href="#"
          }else{
            overallFunc()
            pageDisabled(prevLP)
            pageActive(firstLP)
            pageDisabled(thirdLP)
            pageLink(secondLP, "2")
            pageLink(nextLP, "2")
            firstLP.href="#"
          }  
        }else if(parseInt(totalPages)>=3&&totalPages!=pageNo){
          if(pageNo=="1"){
            overallFunc()
            pageActive(firstLP)
            pageDisabled(prevLP)
            pageText(thirdLP, String(parseInt(pageNo)+2))
            pageText(firstLP, pageNo)
            pageText(secondLP, String(parseInt(pageNo)+1))   
            pageLink(thirdLP, String(parseInt(pageNo)+2))
            pageLink(nextLP, String(parseInt(pageNo)+1))
            pageLink(secondLP, String(parseInt(pageNo)+1)) 
            firstLP.href="#"  
          }else{
            overallFunc()
            pageActive(secondLP)
            pageText(firstLP, String(parseInt(pageNo)-1))
            pageText(secondLP, pageNo)
            pageText(thirdLP, String(parseInt(pageNo)+1))
            pageLink(firstLP, String(parseInt(pageNo)-1))
            pageLink(prevLP, String(parseInt(pageNo)-1))
            pageLink(thirdLP, String(parseInt(pageNo)+1))
            pageLink(nextLP, String(parseInt(pageNo)+1))          
            secondLP.href="#"
          }          
        }else{
          overallFunc()
          pageActive(thirdLP)
          pageDisabled(nextLP)
          pageText(firstLP, String(parseInt(pageNo)-2))
          pageText(thirdLP, pageNo)
          pageText(secondLP, String(parseInt(pageNo)-1))   
          pageLink(firstLP, String(parseInt(pageNo)-2))
          pageLink(prevLP, String(parseInt(pageNo)-1))
          pageLink(secondLP, String(parseInt(pageNo)-1))     
          thirdLP.href="#"  
        }
      }
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
