<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
      .droppable { background: rgb(206, 214, 218); color: #fff; padding: 1rem 0; text-align: center; justify-content: center;}
      .droppable.dragover { background: #ffffff; }
    </style>
    <title>Document</title>
  </head>
  <body>
    <div class="container-fluid rounded">
      <div class="row">
        <div class="col">
          <form
            action="/meterReading"
            method="POST"
            name="getCsv"
            id="getCsv"
            class="shadow p-5 mb-5 bg-body rounded mt-5"
          >
            <input type="text" class="d-none" name="formStateGet" id="formStateGet" value="0">
            <label for="downloadSampleCsv" class="form-label">Download Customer List</label>
            <div class="d-grid col-4 gap-2 d-block">
              <button
                type="submit"
                id="downloadSampleCsv"
                class="btn btn-primary"
              >
                <i class="bi bi-download me-2"></i>Download
              </button>
            </div>
          </form>
          <form
            action="/meterReading"
            method="POST"
            name="postCsv"
            id="postCsv"
            class="mt-5 shadow p-5 mb-5 bg-body rounded"
            enctype="multipart/form-data"
          >
              <input type="text" class="d-none" name="formStatePost" id="formStatePost" value="0">
              <input type="file" class="d-none" value="" name="uploadCsv" id="uploadCsv">
              <div style="border:2px dashed;height: 10rem;" class="droppable" id="dropzoneCsv" name="dropzoneCsv">
                Add File
              </div>
              <div class="d-grid col-4 gap-2 d-block">
                <button
                  type="submit"
                  id="submitSampleCsv"
                  class="btn btn-primary"
                >
                  <i class="bi bi-upload me-2"></i>Upload
                </button>
              </div>
          </form>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript">
      function makeDroppable(element, callback) {

        var input = document.createElement('input');
        input.setAttribute('type', 'file');
        input.id = "postCsv"
        input.name = "postCsv"
        input.style.display = 'none';

        input.addEventListener('change', triggerCallback);
        element.appendChild(input);

        element.addEventListener('dragover', function(e) {
          e.preventDefault();
          e.stopPropagation();
          element.classList.add('dragover');
        });

        element.addEventListener('dragleave', function(e) {
          e.preventDefault();
          e.stopPropagation();
          element.classList.remove('dragover');
        });

        element.addEventListener('drop', function(e) {
          e.preventDefault();
          e.stopPropagation();
          element.classList.remove('dragover');
          triggerCallback(e);
        });

        element.addEventListener('click', function() {
          input.value = null;
          input.click();
        });

        function triggerCallback(e) {
          var files;
          if(e.dataTransfer) {
            files = e.dataTransfer.files;
          } else if(e.target) {
            files = e.target.files;
          }
          callback.call(null, files);
        }
        }
        function callback(files) {
          document.getElementById("uploadCsv").files=files
        }
        var element = document.getElementById('dropzoneCsv');
        makeDroppable(element, callback);
        document.getElementById("submitSampleCsv").addEventListener('click', ()=>{
          let val = document.getElementById("uploadCsv").value
          console.log(val)
        })
    </script>
  </body>
</html>
