<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../static/css/navbar.css">
    <title>ADMIN DASH</title>
  </head>

  <body>
    <div class="ctn">
        <div class="ctn-body">
            <ul class="nav-list">
                <li class="nav-elements"><i id="hamburger" class="bi bi-list"></i><div class="nav-app-name">EBS</div></li>
                <li class="nav-elements"><a href="/adminCust" class="nav-link"><i class="bi bi-people-fill"></i><div class="nav-txt">Consumer</div></a></li>
                <li class="nav-elements"><a href="/adminConn" class="nav-link"><i class="bi bi-hdd-network-fill"></i><div class="nav-txt">Connection</div></a></li>
                <li class="nav-elements"><a href="/adminDist" class="nav-link"><i class="bi bi-lightning-charge-fill"></i><div class="nav-txt">Distributor</div></a></li>
                <li class="nav-elements"><a href="/billDetail" class="nav-link"><i class="bi bi-card-list"></i><div class="nav-txt">Bills</div></a></li>
                <li class="nav-elements"><a href="/complainDetail" class="nav-link"><i class="bi bi-person-x-fill"></i><div class="nav-txt">Complains</div></a></li>
                <li class="nav-elements"><a href="#" class="nav-link"><i class="bi bi-file-arrow-down-fill"></i><div class="nav-txt">Feedback</div></a></li>
                <li class="nav-elements"><a href="{{url_for('logout')}}" class="nav-link"><i class="bi bi-box-arrow-left"></i><div class="nav-txt">Logout</div></a></li>
            </ul>
        </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
