<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../static/css/navbar.css">
    <title>ADMIN DASH</title>
  </head>

  <body>
    <div class="ctn ">
        <div class="ctn-body">
            <ul class="nav-list">
                <li class="nav-elements"><i id="hamburger" class="bi bi-list"></i><div class="nav-app-name"></div></li>
                <li class="nav-elements"><a href="/dashboard" class="nav-link"><i class="bi bi-house-fill"></i><div class="nav-txt">Dashboard</div></a></li>
                <li class="nav-elements"><a href="/adminCust" class="nav-link"><i class="bi bi-people-fill"></i><div class="nav-txt">Consumer</div></a></li>
                <li class="nav-elements"><a href="/adminConn" class="nav-link"><i class="bi bi-hdd-network-fill"></i><div class="nav-txt">Connection</div></a></li>
                <li class="nav-elements"><a href="/adminDistributor" class="nav-link"><i class="bi bi-lightning-charge-fill"></i><div class="nav-txt">Distributor</div></a></li>
                <li class="nav-elements"><a href="/billsList" class="nav-link"><i class="bi bi-card-list"></i><div class="nav-txt">Bills</div></a></li>
                <li class="nav-elements"><a href="/complainList" class="nav-link"><i class="bi bi-patch-question-fill"></i><div class="nav-txt">Complaints</div></a></li>
                <li class="nav-elements"><a href="/billGenerate" class="nav-link"><i class="bi bi-calculator-fill"></i><div class="nav-txt">Billing</div></a></li>
                <!-- <li class="nav-elements"><a href="/complainList" class="nav-link"><i class="bi bi-person-x-fill"></i><div class="nav-txt">ComplainList</div></a></li> -->
            </ul>
        </div>
    </div>
    <div  id="ctn-appbar">
      <div id="ctn-body-appbar">
        <div class="row" id="app-list">
          <div class="col-1 d-flex my-3 justify-content-end" id="app-elements">
            <div class="me-2" id="app-logo"><i class="bi bi-lightbulb-fill"></i></div>
          </div>
          <div class="col-4 my-3" id="app-elements">            
            <div id="app-name">Electricity Billing System</div>
          </div>
          <div class="col-6 my-3" id="search-bar">
            <div class="d-flex" id="search-form">
              <a class="d-none" id="search-link"></a>
              <input class="me-1" type="search" placeholder="Search Consumer..." id="search">
              <button class="btn btn-outline-none" type="button" id="search-btn"><i class="bi bi-search" id="search-icon"></i></button>
            </div>
          </div>   
          <div class="col-1 my-3 d-flex justify-content-center" id="userDropdown">
            <div class="py-2 px-3" href="#" id="accountUser" role="button">
              <i class="bi bi-person-circle"></i>
            </div>
            <ul class="dropdownMenu" id="dropParent">
              <li><div id="dropdown-item">{{uName}}</div></li>
              <li><div id="dropdown-item">{{uId}}</div></li>
              <li><div id="dropdown-divider"></div></li>
              <li><a id="dropdown-link" href="{{url_for('logout')}}"><i class="bi bi-box-arrow-left me-2" id="log-icon"></i>Logout</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"
    ></script>
    <script>
      document.getElementById('accountUser').addEventListener("click", e=>{
        var classN = document.getElementById("dropParent").className
        if(classN == "dropdownMenu down"){
          document.getElementById("dropParent").className = "dropdownMenu"
        }else{
          document.getElementById("dropParent").className = "dropdownMenu down"
        }
      })

      document.getElementById('search').addEventListener(onkeyup, e=>{
        if(e.keyCode===13){
          document.getElementById('search-btn').click()
        }
      })
      function isConNo(strVal){
            if((strVal.substring(0,2).toLowerCase().match(/^(po|ti|ba|bi|ca|sa|mo|pe|qu|dh)$/))&&(!isNaN(strVal.substring(2,)))){
                console.log("its true")
                return true
            }
            console.log("its false")

            return false
        }
      document.getElementById('search-btn').addEventListener("click", e => {
        let searchKey = document.getElementById('search').value
        //check if search key is correct
        if(searchKey===""){
            alert("Consumer Number can't be blank")
        }else if(searchKey.length != 12){
            alert("Consumer Number should have 12 characters")
        }else if(!isConNo(searchKey)){
            alert("Enter valid Consumer Number")
        }else{
          let link = document.getElementById('search-link')
          link.href = "/dashboard?coNo=" + searchKey
          link.click()
        }        
      })
    </script>
  </body>
</html>
