<div class="row" id="addElD">
<div class="mb-3 col-4">
    <label for="inputDistID" class="form-label">Distributor ID</label>
    <input type="text" class="form-control" id="inputDistID" name="inputDistID">
</div>
<div class="mb-3 col-4">
    <label for="inputDistCompName" class="form-label">Distributor Company Name</label>
    <input type="text" class="form-control" id="inputDistCompName" name="inputDistCompName">
</div>
<div class="mb-3 col-4"></div>
<div class="mb-3 col-12">
    <label for="inputDistAddress" class="form-label">Distributor Address</label>
    <input type="text" class="form-control" id="inputDistAddress" name="inputDistAddress">
</div>
<div class="mb-3 col-4">
    <label for="inputDistTaluka" class="form-label">Distributor Taluka</label>
    <input type="text" class="form-control" id="inputDistTaluka" name="inputDistTaluka">
</div>  
<div class="mb-3 col-4">
    <label for="inputDistDistrict" class="form-label">Distributor District</label>
    <input type="text" class="form-control" id="inputDistDistrict" name="inputDistDistrict">
</div>        
<div class="mb-3 col-4">
    <label for="inputDistPin" class="form-label">Distributor Pin Code</label>
    <input type="text" class="form-control" id="inputDistPin" name="inputDistPin">
</div>     
<div class="mb-3 col-4">
    <label for="inputSupplyPMonth" class="form-label">Supply (per Month)</label>
    <input type="text" class="form-control" id="inputSupplyPMonth" name="inputSupplyPMonth">
</div>                       
<div class="mb-3 col-4">
    <label for="inputSupplyRate" class="form-label">Supply Rate</label>
    <input type="text" class="form-control" id="inputSupplyRate" name="inputSupplyRate">
</div>  
<div class="mb-3 col-4">
    <label for="inputDistContact" class="form-label">Distributor Contact</label>
    <input type="text" class="form-control" id="inputDistContact" name="inputDistContact">
</div>  
<div class="mb-3 col-4"></div>
<div class="d-grid gap-2 col-4 d-block">
    <button type="submit" class="btn btn-primary">Submit</button>
</div> 
<div class="mb-3 col-4"></div>
</div>