<section class="col-12 col-sm-11 col-md-11">
    <div class="shadow p-3 mb-3 bg-body rounded mt-3">
        <div class="row">
            <p class="font-monospace col-lg-3 col-md-6 col-sm-12">Consumer ID : </p>
            <p class="font-monospace col-lg-3 col-md-6 col-sm-12">Consumer Name : </p>
            <p class="font-monospace col-lg-3 col-md-6 col-sm-12">Meter ID : </p>
            <p class="font-monospace col-lg-3 col-md-6 col-sm-12">Consumer Type : </p>
            <p class="font-monospace col-lg-3 col-md-6 col-sm-12">Bill ID : </p>
            <p class="font-monospace col-lg-3 col-md-6 col-sm-12">Bill Amount : </p>
            <p class="font-monospace col-lg-3 col-md-6 col-sm-12">Bill Status : </p>
            <p class="font-monospace col-lg-3 col-md-6 col-sm-12"></p>
            <div class="col"></div>
            <div class="d-grid gap-2 col-lg-3 col-md-6 col-sm-12 d-block">
                <button class="btn btn-primary">Expand</button>
            </div> 
            <div class="col"></div>
        </div>
    </div>
</section>