<div class="row" id="addEl">
<div class="mb-3 col-4">
    <label for="inputConID" class="form-label">Consumer ID</label>
    <input type="text" class="form-control" id="inputConID" name="inputConID" {% if val != "add" %} value = {{js.cid}} {% endif %}>
</div>
<div class="mb-3 col-4">
    <label for="inputConFName" class="form-label">Consumer First Name</label>
    <input type="text" class="form-control" id="inputConFName" name="inputConFName" {% if val != "add" %} value = {{js.fname}} {% endif %}>
</div>
<div class="mb-3 col-4">
    <label for="inputConLName" class="form-label">Consumer Last Name</label>
    <input type="text" class="form-control" id="inputConLName" name="inputConLName" {% if val != "add" %} value = {{js.lname}} {% endif %}>
</div>
<div class="mb-3 col-12">
    <label for="inputConAddress" class="form-label">Consumer Address</label>
    <input type="text" class="form-control" id="inputConAddress" name="inputConAddress" {% if val != "add" %} value = {{js.address}} {% endif %}>
</div>
<div class="mb-3 col-4">
    <label for="inputConTaluka" class="form-label">Consumer Taluka</label>
    <input type="text" class="form-control" id="inputConTaluka" name="inputConTaluka" {% if val != "add" %} value = {{js.taluka}} {% endif %}>
</div>  
<div class="mb-3 col-4">
    <label for="inputConDistrict" class="form-label">Consumer District</label>
    <input type="text" class="form-control" id="inputConDistrict" name="inputConDistrict" {% if val != "add" %} value = {{js.district}} {% endif %}>
</div>        
<div class="mb-3 col-4">
    <label for="inputConPin" class="form-label">Consumer Pin Code</label>
    <input type="text" class="form-control" id="inputConPin" name="inputConPin" {% if val != "add" %} value = {{js.pinCode}} {% endif %}>
</div>     
<div class="mb-3 col-4">
    <label for="inputMeterId" class="form-label">Meter ID</label>
    <input type="text" class="form-control" id="inputMeterId" name="inputMeterId" {% if val != "add" %} value = {{js.meterId}} {% endif %}>
</div>                       
<div class="mb-3 col-4">
    <label for="inputConType" class="form-label">Consumer Type</label>
    <input type="text" class="form-control" id="inputConType" name="inputConType" {% if val != "add" %} value = {{js.conType}} {% endif %}>
</div>  
<div class="mb-3 col-4">
    <label for="inputConContact" class="form-label">Consumer Contact</label>
    <input type="text" class="form-control" id="inputConContact" name="inputConContact" {% if val != "add" %} value = {{js.contact}} {% endif %}>
</div>  
<div class="mb-3 col-4">
    <label for="inputSancLoad" class="form-label">Sanctioned Load</label>
    <input type="text" class="form-control" id="inputSancLoad" name="inputSancLoad" {% if val != "add" %} value = {{js.sanctionedLoad}} {% endif %}>
</div>  
<div class="mb-3 col-4"></div>
<div class="mb-3 col-4"></div>
<div class="mb-3 col-4"></div>
<div class="d-grid gap-2 col-4 d-block">
    <button type="submit" class="btn btn-primary" id = "custBtn">Submit</button>
</div> 
<div class="mb-3 col-4"></div>
</div>