<div class="row justify-content-center" id="filterElC" style="display: none;">
    <div class="mb-3 col-4"></div>
    <div class="mb-3 col-4">
        <label for="inputConnFilID" class="form-label">Connection ID</label>
        <input type="text" class="form-control" id="inputConnFilID" name="inputConnFilID">
    </div>
    <div class="mb-3 col-4"></div>
    <div class="mb-3 col-4"></div>
    <div class="d-grid gap-2 col-4 d-block">
        <button type="submit" class="btn btn-primary" id="filBtnC">Search</button>
    </div> 
    <div class="mb-3 col-4"></div>
</div> 